.imazhiPostimit{
    padding-bottom: 25px;
}

.shtoDheKomento{
    border-color: #EE1B21;
    border-radius: 10px;
}

.inputeKomento{
    border-color: #EE1B21;
    border-radius: 10px;
}

.shtoKomentin{
    background-color: #EE1B21;
    border-radius: 25px;
    color: white;
    // width: 
}

.pakHapsire{
    padding-left: 20px;
}