.shtoUser{
    border-color: #EE1B21;
    border-radius: 10px;
}

.inputeUser{
    border-color: #EE1B21;
    border-radius: 10px;
}

.shtoKomentin{
    background-color: #EE1B21;
    border-radius: 25px;
    color: white;
    // width: 
}